.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.RegisterPage, .LoginPage {
  width:100%;
  max-width: 350px;
}

.App-link {
  color: #61dafb;
}
